*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/base/local.properties
/widget/build/generated/source/buildConfig/androidTest/debug/com/xz/xzwidget/test/BuildConfig.java
/widget/build/generated/source/buildConfig/debug/com/xz/xzwidget/BuildConfig.java
/widget/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/widget/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
/widget/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/widget/build/intermediates/compile_library_classes/debug/classes.jar
/widget/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/generateDebugRFile/R.jar
/widget/build/intermediates/incremental/debug-mergeJniLibs/merge-state
/widget/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/widget/build/intermediates/incremental/mergeDebugShaders/merger.xml
/widget/build/intermediates/incremental/packageDebugAssets/merger.xml
/widget/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/widget/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/widget/build/intermediates/incremental/packageDebugResources/merger.xml
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/XType.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/button/LoadingButton$1.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/button/LoadingButton.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/button/XButton.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XOnClickListener.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzInputDialog$1.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzInputDialog$2.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzInputDialog$Builder.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzInputDialog.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzLoadingDialog$1.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzLoadingDialog$Builder.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzLoadingDialog.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzTipsDialog$1.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzTipsDialog$2.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzTipsDialog$Builder.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/dialog/XzTipsDialog.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/entity/CommEntity.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/recycler/XBanner.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/recycler/XBannerAdapter$ViewHolder.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/recycler/XBannerAdapter.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/toast/XToast.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/utils/KeyBoardUtil.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/utils/PxAndDipUtils.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/utils/ViewUtil.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/widget/AutoFocusEditView.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/widget/FinishEditListener.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/widget/IpEditView.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/widget/SlideHorizontalView$1.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/widget/SlideHorizontalView$OnScrollListener.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/widget/SlideHorizontalView.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/widget/widget/SportsView.class
/widget/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/xz/xzwidget/BuildConfig.class
/widget/build/intermediates/library_java_res/debug/res.jar
/widget/build/intermediates/library_manifest/debug/AndroidManifest.xml
/widget/build/intermediates/merged_manifests/debug/output.json
/widget/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
/widget/build/intermediates/merged_manifests/debugAndroidTest/output.json
/widget/build/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_close.png
/widget/build/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_error.png
/widget/build/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_location.png
/widget/build/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_success.png
/widget/build/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_tips.png
/widget/build/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_close.png
/widget/build/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_error.png
/widget/build/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_location.png
/widget/build/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_success.png
/widget/build/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_tips.png
/widget/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_close.png
/widget/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_error.png
/widget/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_location.png
/widget/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_success.png
/widget/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_tips.png
/widget/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_close.png
/widget/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_error.png
/widget/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_location.png
/widget/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_success.png
/widget/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_tips.png
/widget/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/btn_yuanxin_common.xml
/widget/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/ic_close.png
/widget/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/ic_error.png
/widget/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/ic_location.png
/widget/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/ic_success.png
/widget/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/ic_tips.png
/widget/build/intermediates/packaged_res/debug/drawable/bg_biankuang.xml
/widget/build/intermediates/packaged_res/debug/drawable/bg_yuanjiao.xml
/widget/build/intermediates/packaged_res/debug/drawable/bg_yuanjiao_bigger.xml
/widget/build/intermediates/packaged_res/debug/drawable/btn_green.xml
/widget/build/intermediates/packaged_res/debug/drawable/btn_jianbian.xml
/widget/build/intermediates/packaged_res/debug/drawable/btn_yuanxing.xml
/widget/build/intermediates/packaged_res/debug/drawable/loading.gif
/widget/build/intermediates/packaged_res/debug/layout/custom_ip_editview.xml
/widget/build/intermediates/packaged_res/debug/layout/dialog_input.xml
/widget/build/intermediates/packaged_res/debug/layout/dialog_loading.xml
/widget/build/intermediates/packaged_res/debug/layout/dialog_tips.xml
/widget/build/intermediates/packaged_res/debug/layout/item_banner.xml
/widget/build/intermediates/packaged_res/debug/layout/toast_x.xml
/widget/build/intermediates/packaged_res/debug/values/values.xml
/widget/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
/widget/build/intermediates/runtime_library_classes/debug/classes.jar
/widget/build/intermediates/symbols/debug/R.txt
/widget/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
/widget/build/outputs/logs/manifest-merger-debug-report.txt
